In [1]:
# 数据聚合
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib.pyplot as plt
from numpy.random import randn
import os
from datetime import datetime

In [6]:
# 下面开始数据聚合的学习
df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.165282 -0.007007
1    a  two -0.148832 -0.654156
2    b  one -0.727401  0.438711
3    b  two -1.706922 -0.697933
4    a  one  0.090963  0.301958

In [8]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.5)  # 计算样本分位数

key1
a    0.090963
b   -1.217161
Name: data1, dtype: float64