In [3]:
# 分组级运算和转换
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib.pyplot as plt
from numpy.random import randn
import os
from datetime import datetime

In [4]:
df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
# 假设我们想要为一个DataFrame添加一个用于存放各索引分组平均值的列
k1_means = df.groupby('key1').mean().add_prefix('mean_')
k1_means

      mean_data1  mean_data2
key1
a      -0.739160    0.417167
b       0.910558    0.415298

In [5]:
pd.merge(df, k1_means ,left_on ='key1',right_index=True)

  key1 key2     data1     data2  mean_data1  mean_data2
0    a  one -0.042308  0.777738   -0.739160    0.417167
1    a  two -0.272877 -0.469442   -0.739160    0.417167
4    a  one -1.902294  0.943206   -0.739160    0.417167
2    b  one  0.673577  0.096099    0.910558    0.415298
3    b  two  1.147539  0.734497    0.910558    0.415298

In [7]:
# 另外一种实现上述目的的方式是：利用np.mean函数对两个数据列进行转换。
people = DataFrame(np.random.randn(5,5),columns=['a','b','c','d','e'],index=['Joe','Steve','Wes','Jim','Travis'])
people.ix[2:3,['b','c']] = np.nan   # 添加几个NA值
people

               a         b         c         d         e
Joe     1.369414 -1.688731 -0.117187  0.023261  0.951687
Steve   0.958529 -1.640146 -1.526110 -0.009489  0.223745
Wes    -0.908185       NaN       NaN  1.233363  1.552325
Jim     0.576470 -0.673469 -1.114373 -0.907590  0.108386
Travis  0.030273 -0.305783 -0.681139 -1.574129 -0.405366

In [8]:
key = ['one','two','one','two','one']
people.groupby(key).mean()

            a         b         c         d         e
one  0.163834 -0.997257 -0.399163 -0.105835  0.699549
two  0.767499 -1.156807 -1.320242 -0.458539  0.166065

In [17]:
people.groupby(key).transform(np.mean)   # transform 会将一个函数应用到各个分组，然后将结果放置到合适的位置上。

               a         b         c         d         e
Joe     0.163834 -0.997257 -0.399163 -0.105835  0.699549
Steve   0.767499 -1.156807 -1.320242 -0.458539  0.166065
Wes     0.163834 -0.997257 -0.399163 -0.105835  0.699549
Jim     0.767499 -1.156807 -1.320242 -0.458539  0.166065
Travis  0.163834 -0.997257 -0.399163 -0.105835  0.699549

In [18]:
def demean(arr):                    # 创建一个距平化函数，然后将其传给transferm
    return arr-arr.mean()

demeaned = people.groupby(key).transform(demean) 
demeaned

               a         b         c         d         e
Joe     1.205580 -0.691474  0.281976  0.129096  0.252138
Steve   0.191029 -0.483339 -0.205868  0.449050  0.057679
Wes    -1.072019       NaN       NaN  1.339198  0.852777
Jim    -0.191029  0.483339  0.205868 -0.449050 -0.057679
Travis -0.133561  0.691474 -0.281976 -1.468294 -1.104915

In [19]:
demeaned.groupby(key).mean()

                a             b    c             d             e
one -9.251859e-18  0.000000e+00  0.0  0.000000e+00  0.000000e+00
two -5.551115e-17  5.551115e-17  0.0  2.775558e-17 -6.938894e-18

In [ ]:
# 接下来进入apply的学习，一般性的拆分-应用-合并操作