In [1]:
# 分组级运算和转换
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib.pyplot as plt
from numpy.random import randn
import os
from datetime import datetime

In [3]:
df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
# 假设我们想要为一个DataFrame添加一个用于存放各索引分组平均值的列
k1_means = df.groupby('key1').mean().add_prefix('mean_')
k1_means

      mean_data1  mean_data2
key1
a       0.092341    0.430293
b      -0.504712    0.393940

In [4]:
pd.merge(df, k1_means ,left_on ='key1',right_index=True)

  key1 key2     data1     data2  mean_data1  mean_data2
0    a  one -0.338843  0.714003    0.092341    0.430293
1    a  two -0.071954  0.864604    0.092341    0.430293
4    a  one  0.687822 -0.287726    0.092341    0.430293
2    b  one -1.061340  0.111273   -0.504712    0.393940
3    b  two  0.051916  0.676607   -0.504712    0.393940

In [ ]:
# 另外一种实现上述目的的方式是：